body {
  font-family: 'Open Sans', serif;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
  -webkit-animation: rotate-reverse 0.5s 1 linear;
  animation: rotate-reverse 0.5s 1 linear;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.1rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 17rem;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #BD5D38;
}

a:hover, a:focus, a:active {
  color: #824027;
}

.animation-delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animation-delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.overlay__name--portfolio {
  position: absolute;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
}

.overlay__link--code {
  left: 10px;
}

.overlay__link--code:hover {
  color: red;
}

.overlay__link--view {
  left: 60px;
}

.overlay__link--view:hover {
  color: blue;
}

.portfolio__item {
  position: relative;
  width: 95%;
  min-height: 250px;
  margin-left: 0.5%;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.portfolio__item:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

@media (min-width: 576px) {
  .portfolio__item {
    max-height: 250px;
  }
}

@media (min-width: 768px) {
  .portfolio__item {
    width: 49%;
    margin-left: 0;
    min-height: 250px;
    max-height: none;
  }
}

@media (min-width: 992px) {
  .portfolio__item {
    width: 32.6%;
    min-height: 250px;
  }
}

.portfolio__item--width2 {
  position: relative;
}

.portfolio__item--blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(3px);
  -webkit-transition: .5s filter linear;
  transition: .5s filter linear;
  -webkit-transition: .5s -webkit-filter linear;
  -moz-transition: .5s -moz-filter linear;
  -ms-transition: .5s -ms-filter linear;
  -o-transition: .5s -o-filter linear;
}

.portfolio__overlay {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.37);
}

.overlay__name--portfolio {
  position: absolute;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 26px;
  text-transform: capitalize;
}

.overlay__link {
  position: absolute;
  display: inline-block;
  bottom: 25px;
  cursor: pointer;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.overlay__link--code {
  left: 10px;
}

.overlay__link--code:hover {
  color: red;
}

.overlay__link--view {
  left: 80px;
}

.overlay__link--view:hover {
  color: blue;
}

.icon--big {
  font-size: 14px;
}

.tooltip-up::after,
.tooltip-right::after {
  width: 140px;
  background: rgba(29, 29, 29, 0.8);
  color: #FFF;
  content: attr(data-tooltip);
  border-radius: 5px;
  opacity: 0;
  font-size: 12px;
  padding: 3px 7px;
  position: absolute;
  bottom: 64px;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.tooltip-up:hover::after,
.tooltip-right:hover::after {
  opacity: 1;
  visibility: visible;
}

.tooltip-up::after {
  left: 0;
}

.tooltip-right::after {
  left: 40px;
}

.delay-02s {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.delay-04s {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.delay-05s {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

@-webkit-keyframes rotate-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotate-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.icon--rotate-reverse {
  -webkit-animation: rotate-reverse 2s infinite linear;
  animation: rotate-reverse 2s infinite linear;
}

.list-inline-item:hover {
  -webkit-animation: rotate-reverse 0.5s 1 linear;
  animation: rotate-reverse 0.5s 1 linear;
}
